* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}


header {
    position: sticky;
    top: 0;
    background: #222;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: white;
}

.products {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

    padding: 50px;

}

.card {

    background: white;

    width: 250px;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    text-align: center;

}

footer {

    background: #222;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;

}

@media(max-width:768px) {

    header {

        flex-direction: column;

    }

    nav {

        margin-top: 15px;

    }

    .products {

        flex-direction: column;

        align-items: center;

    }

}